{% extends "rigolets/base.html" %}

{% block title %}FishingSpots{% endblock %}

{% block content %}

<div class="pen-container mdl-grid">
	<div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
	<div class="pen-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
		<h2 id="subtitle" style="padding-top: 0;">About</h2>
		<div class="mdl-tabs mdl-js-tabs">
	        <div class="mdl-tabs__tab-bar">
	          <a href="#tab1" class="mdl-tabs__tab is-active" onclick="subtitle('About')">About</a>
	          <a href="#tab2" class="mdl-tabs__tab" onclick="subtitle('Who')">Who</a>
	          <a href="#tab3" class="mdl-tabs__tab" onclick="subtitle('Requirements')">Requirements</a>
	          <a href="#tab4" class="mdl-tabs__tab" onclick="subtitle('Progress')">Progress</a>
	          <a href="#tab5" class="mdl-tabs__tab" onclick="subtitle('Thank You')">Questions?</a>
	        </div>

	        <div class="mdl-tabs__panel is-active present" id="tab1">
	        	{% include "rigolets/abouttabs/tab1.html" %}
	        </div>

	        <div class="mdl-tabs__panel present" id="tab2">
	        	{% include "rigolets/abouttabs/tab2.html" %}
	        </div>

	        <div class="mdl-tabs__panel present" id="tab3">
	        	{% include "rigolets/abouttabs/tab3.html" %}
	        </div>

	        <div class="mdl-tabs__panel present" id="tab4">
	        	{% include "rigolets/abouttabs/tab4.html" %}
	        </div>

	        <div class="mdl-tabs__panel present" id="tab5">
	        	{% include "rigolets/abouttabs/tab5.html" %}
	        </div> 

		</div>
	</div>
</div>

<script type="text/javascript">
function subtitle(name) {
	document.getElementById('subtitle').innerHTML = name;
}
</script>

{% endblock %}
