{% extends "rigolets/base.html" %}

{% block title %}FishingSpots{% endblock %}

{% block content %}



<div class="pen-container mdl-grid">
	<div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
	<div class="pen-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
		<div class="pen-crumbs mdl-color-text--grey-500">
		
		{% for e in data_points %}
			{{ e.properties.name }}
			{{ e.geometry.coordinates }}
			{{ e.properties.score }}
			<br>
		{% endfor %}
		<br>

		{% for x, y in data_points.items %}
			{{ x }}, {{ y }} Hey
			<br>
		{% endfor %}		
		</div>        
	</div>
</div>  	

{% endblock %}
