
<br>
<h3>Overview</h3>

<p>The client is developing an algorithm that will take data from various sources and process it to determine optimal fishing locations. He wants a website that can handle the data processing on the backend and display the results on the frontend for end users.</p>

<br>

<p>Gather Data</p>
<ul class="mdl-list">	        		
	<li class="mdl-list__item">Pull data from NOAA and USGS buoys.</li>
	<li class="mdl-list__item">Weather Conditions.</li>
	<li class="mdl-list__item">Analyze area for geographic dimensions.</li>
</ul>

<br>

<p>Process and store</p>
<ul class="mdl-list">
	<li class="mdl-list__item">Implement client's algorithm.</li>
	<li class="mdl-list__item">Store results in database.</li>
	<li class="mdl-list__item">Provide ability for client to analyze and tweak results</li>
</ul>

<br>

<p>Display</p>
<ul class="mdl-list">
	<li class="mdl-list__item">Display data on website using mapping libraries.</li>
	<li class="mdl-list__item">Provide API access to data for future developments.</li>
</ul>
