
<br>
<h3>Overview</h3>

<p>The client is developing an algorithm that will take data from various sources and process it to determine optimal fishing locations. He wants a website that can handle the data processing on the backend and display the results on the frontend for end users.</p>

<br>

<p>Data Extracting</p>
<ul class="mdl-list">	        		
	<li class="mdl-list__item">Build queries to gather data from NOAA and USGS.</li>
	<li class="mdl-list__item">Clean data and store for processing.</li>
</ul>

<br>

<p>Data Transforming</p>
<ul class="mdl-list">
	<li class="mdl-list__item">Implement client's algorithm.</li>
	<li class="mdl-list__item">Input data to algorithm and process.</li>
	<li class="mdl-list__item">Store results in database.</li>
	<li class="mdl-list__item">Return data from database.</li>
</ul>

<br>

<p>Data Loading</p>
<ul class="mdl-list">
	<li class="mdl-list__item">Display data in charts and maps in a way that shows fishing score.</li>
	<li class="mdl-list__item">Provide API access to data for future developments.</li>
</ul>
