<!doctype html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'rigolets/mdl/material.min.css' %}">
	<link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.amber-blue.min.css" />
	<link href='https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC|IM+Fell+DW+Pica' rel='stylesheet' type='text/css'>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'rigolets/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'rigolets/openlayers/v3.18.2/css/ol.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<body>

<div class="pen-layout mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100">
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
	  <header class="pen-header mdl-layout__header mdl-layout__header--scroll mdl-color--grey-100 mdl-color-text--grey-800">
	    <div class="mdl-layout__header-row">
			<span class="mdl-layout-title" style="font-family: 'IM Fell DW Pica SC', serif; font-size:2em;">Fishing Spots</span>
			<div class="mdl-layout-spacer"></div>
	      <!-- Navigation. We hide it in small screens. -->
	      <nav class="mdl-navigation mdl-layout--large-screen-only">
	        <a class="mdl-navigation__link" href="/">Home</a>
	        <a class="mdl-navigation__link" href="/about">About</a>
	        <a class="mdl-navigation__link" href="/map">Map</a>
	        <a class="mdl-navigation__link" href="/admin">Admin</a>
	      </nav>
	    </div>
	  </header>
	 </div>

	<div class="pen-ribbon"></div>

  	<main class="pen-main mdl-layout__content">

    {% block content %}{% endblock %}

    <footer class="pen-footer mdl-mini-footer">
      	<p>CMPS 411, Fall 2016</p>          
    </footer>

    </main>

</div>
    <script src="https://code.getmdl.io/1.1.3/material.min.js"></script>
    {% load static %}
<script type="text/javascript" src="{% static 'rigolets/mdl/material.min.js' %}"></script>
</body>
</html>
